#navBar{
    background-color:#D2B48C;
    color:#556B2F;
    border-top:10px double #556B2F;
    border-bottom: 10px double #556B2F; 
    padding:;
    margin-top:;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.navButtons{
    background-color:#D2B48C;
    color:#556B2F;
    font-size: 25px;
    font-family: 'Bangers', cursive;
    border-left:12px solid #556B2F;
    border-right: 12px solid #556B2F;
    border-top: 2px solid #556B2F;
    border-bottom: 2px solid #556B2F;
    padding:15px;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:10px;
}

.navButtons:hover{
    background-color: #805c39;
    color: #009933;
    font-size: 35px;
    font-family: 'Bangers', cursive;
    border-left:12px solid #009933;
    border-right: 12px solid #009933;
    border-top: 4px solid #009933;
    border-bottom: 4px solid #009933;
    padding:15px;
    margin-left:5px;
    margin-right:5px;
    margin-top:2px;
    margin-bottom:2px;
    transition-duration: 500ms;
}

.title{
    background-color:#D2B48C;
    color:#556B2F;
    font-size: 55px;
    font-family: 'Bangers', cursive;
    border-left:;
    border-right: ;
    border-top:;
    border-bottom:;  
    padding-left:30px;
    padding-right:20px;
    padding-top:12px;
    padding-bottom:10px;
}

#postsBlock{
    background-color: #D2B48C;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.postFrame{
    background-color: #556B2F;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid ;
    box-shadow: 20px 20px 20px  #2a3517;

}

.postTitle{
    font-size: 30px;
    margin: 10px; 
    font-family: 'Bangers', cursive;
    background-color: #805c39;
    border: 2px solid black; 
    color: #D2B48C; 
    width: 510px;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.postAuthor{
    font-size: 20px; 
    font-family: 'Cinzel', serif;
    color: black; 
    margin-top: 30px;
}

.postThumbnail{
    height: 50%;
    width: 70%;
}